{{template "admin" .}}

{{define "page-title"}}
    Reservations Calendar
{{end}}

{{define "content"}}
    {{$now := index .Data "now"}}
    <div class="col-md-12">
        <div class = "text-center">
            <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
        </div>


    <div class = "float-left">
        <a class = "btn btn-sm btn-outline-secondary" href =
        "/admin/reservations-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}">&lt;&lt;</a>
    </div>

    <div class = "float-right">
        <a class = "btn btn-sm btn-outline-secondary" href =
        "/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">&gt;&gt;</a>
    </div>
    </div>

    <div class = "clearfix"></div>


{{end}}